<div class="container">
  <% unless @feeds.empty? %>
    <table class="table-minimal">
      <tbody>
        <tr>
          <th>Name</th>
          <th>Shows</th>
          <th>Status</th>
        </tr>

        <% @feeds.each do |feed| %>
          <% cache feed do %>
            <tr>
              <td><%= link_to feed.display_title, feed %></td>
              <td><%= feed.stories.count %></td>
              <td><span class="badge-<%= feed.status %>"><%= feed.status%></span></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h1>You are not currently following any podcasts <%= link_to "Find One", explore_index_path %>.</h1>
  <% end %>
</div>
