<%= render 'layouts/header', resource: @feed, start_color: @start_color, end_color: @end_color %>

<div class="container">
  <div class="title">
    <h1>
      <%= @feed.display_title %>
    </h1>
  </div>
  <% if current_user.persisted? %>
    <div class="follow-button" align="right">
      <button onclick="follow()" id="follow-button">
        <%= @feed.follow_action(current_user) %>
      </button>
    </div>

    <div class="follow-button" align="right">
      <%= link_to feed_refresh_path(@feed) do %>
      <button>
        Refresh
      </button>
      <% end %>
    </div>
  <% end %>
  <p>
    Updated: <%= @feed.display_modified %>
  </p>
  <p>
    <%= @feed.description %>
  </p>

  <%= render 'home/story', stories: @stories do %>
    <h2>
      Shows:
    </h2>
  <% end %>
</div>

<script>
 var followButton = document.getElementById('follow-button');
 var follow = function() {
   $.post("<%= feed_follow_path(@feed) %>", function(data, status){
        followButton.textContent = data;
      });
 }
</script>
