<%= render 'layouts/header', resource: @feed, start_color: @start_color, end_color: @end_color %>

<div class="container">
  <h1>
    <%= @feed.title %>
    <%#= link_to_if(@feed.url.present?, fa_icon("external-link"), @feed.url) %>
  </h1>
  <sub>
    Updated: <%= time_ago_in_words(@feed.last_modified) if @feed.last_modified %>
  </sub>
  <p>
    <%= @feed.description %>
  </p>

  <h2>
    Shows:
  </h2>
  <table class="table-minimal">
    <tbody>
      <% @feed.stories.each do |story| %>
        <% cache story do %>
          <%= render 'home/story', story: story %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
