<%= render 'layouts/header', resource: @story, start_color: @start_color, end_color: @end_color %>

<div class="read-port">
  <h1>
    <%= @story.title %>
    <%= link_to_if(@story.url.present?, fa_icon("external-link"), @story.url) %>
  </h1>
  <sub>
    <%= @story.author&.capitalize %> | <%= @story.published&.to_formatted_s(:long) %>
  </sub>

  <% if @story.enclosure_url %>
    <%= render 'podcast'%>
  <% end %>
  <p><%= @story.content&.html_safe %></p>
</div>
