<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <%= link_to root_path, class: 'logo' do %>
      <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <% end %>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link logo"><%= link_to '📻', root_path %></li>
        <li class="nav-link"><%= link_to 'Podcasts', feeds_path %></li>
        <li class="nav-link"><%= link_to 'Shows', stories_path %></li>
        <li class="nav-link"><%= link_to 'Explore', explore_index_path %></li>
        <li class="nav-link"><%= link_to '+', new_feed_path %></li>
        <li class="nav-link"><%= render 'login' %></li>
      </ul>
    </nav>
    <div class="navigation-tools">
      <div class="search-bar">
        <form role="search">
          <input type="search" placeholder="Enter Search" />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
          </button>
        </form>
      </div>
    </div>
  </div>
</header>
